doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
    link(rel="icon", href="/images/favicon.ico")
    
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    script(src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src='https://cdn.jsdelivr.net/npm/moment@^2')
    script(src='https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1')


    
  body
    block content